body {
    background-color: #BAD7E9;
    min-width: 350px !important;
}

main {
    padding: 1em;
    /* margin: 1em; */
}

/* section {
    background-color: white;
} */

/* .main-content {
    border-left: 1px solid #73d5e2;
    border-right: 1px solid #73d5e2;
} */

header {
    border-bottom: 2px solid black;
}

footer {
    border-top: 2px solid black;
}

nav {
    background-color: #263159;
}

nav a {
    color: #263159;
    font-size: 1.2em;

    padding: .25em;

    border: solid white 1px;
    border-radius: .5em;

    text-align: center;

    background-color: whitesmoke;

    margin-left: 5px;
    margin-right: 5px;
}

nav a:hover {
    box-shadow: 0 .25em .25em .25em rgb(196, 193, 188);

    transform: translateY(-.25em);
    transition: .25s;

    background-color: white;
}

section {
    margin-top: 1em;
}

footer,
.email {
    background-color: #263159;
    color: white;
    font-weight: bold;
}

section .h3 {
    padding: 1em;
}

.sub-content h4,
.sub-content h5 {
    padding-left: 1em;
    text-decoration: underline;
}


time {
    font-weight: 500;
}

section li {
    line-height: 2em;
}

/* .nav-right a {
    padding-left: 2em;
} */

.username {
    background-color: darkcyan;
    display: inline-block;
    margin-top: 1em;
}

.content {
    background-color: #FFFBF5;
    padding: 1em;
    border: 1px solid #263159;
    border-radius: 1em;
    border-bottom-right-radius: 5em;
}

.certification {
    max-width: 200px;
    aspect-ratio: auto;
}

ul.no-bullet {
    list-style-type: none !important;
}

ul.no-bullet a {
    text-decoration: none;
}

.no-bullet a:hover {
    transition: .5s;
    text-decoration: underline;
}

a.no-style {
    color: inherit;
}


.title {
    padding-left: 1.5em;
}

.table-of-content {
    margin-top: 7em;
}

.details {
    border: 1px solid grey;
    border-radius: 1em;

    background-color: whitesmoke;
    padding: 1em;
}

.space-bottom-3 {
    margin-bottom: 3rem;
}

#navbar-button {
    margin: .25em;
    border: solid white;
    color: white;
}

#profile {
    border-radius: 50%;

    width: 100%;
    max-width: 600px;
    min-width: 200px;
}

#modal-image {
    max-width: 100%;
    max-height: 650px;

    min-width: 300px;
}

.title {
    overflow-wrap: break-word;
}

.img-container {
    margin-bottom: 1em;
    max-width: 200px;
}

.img-slide {
    /* max-width: 720px; */
    width: auto !important;
    max-height: 720px;
}

.img-slide-item {
    margin: 0 auto;
    width: auto;
}

.text-justify {
    text-align: justify;
}

.contact img {
    height: 2em;
    padding-right: 5px;
}

.contact a {
    color: black;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

#certifications img:hover {
    transform: translateY(-.5em);
}

.table-of-content {
    top: 60px !important;
}

.table-of-content a {
    color: dimgray;
    text-decoration: none;
}

.table-of-content a:hover {
    text-decoration: underline;
    transition-duration: .5s;
}

@media screen and (min-width:768px) {
    .fixed-lg-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

/* @media screen and (min-width:992px) {
    .non-stick-lg {
        position: static;
        top: auto;
    }
} */

/* #navbar-button {
    background-color: white;
} */